// Variables ******************************************************
$fullBreak:850px;
$fullWidth:730px;
$middleWidth:550px;
$mobileBreak:600px;
$mobileWidth:316px;




$white:#fffefa;
$darkWhite:#8c7b4f;
$darkBlue:#0f2231;
$lightBlue:#3588ff;
$boxShadow:hsla(0%, 0%, 10%, 0.2);

// Mixins ******************************************************
@mixin break($point) {
	@if $point == full {
		@media only screen and (max-width: $fullBreak) { @content; }
	}
	@else if $point == mobile {
		@media only screen and (max-width: $mobileBreak) { @content; }
	}
}
@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Extendables  ******************************************************
.serif {
	font-family: 'Gentium Basic', serif;
}
.script {
	font-family: 'Tangerine', cursive;
}
.boxShadow {
	-webkit-box-shadow: 2px 2px 5px $boxShadow;
	box-shadow: 2px 2px 5px $boxShadow;
}
.textShadow {
	text-shadow: 1px 1px 5px $white;
}
/* General Site Wide Selectors ****************************************/
body {
	background-color: $darkWhite;
	color:$darkBlue;
	font-size:16px;
	padding:1em;
	@extend .serif;
	@include break(mobile) {
		padding:0;
	}
}
.wrap {
	background-color:$white;
	border:1px solid $darkBlue;
	margin: 0 auto;
	max-width:$fullWidth;
	padding:1em;
	@extend .boxShadow;
	@include break(full) {
		width: $middleWidth;
	}
	@include break(mobile) {
		width: $mobileWidth;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
h1, h2 {
	@extend .script;
}
h1 {
	font-size:3em;
}
a:link, a:visited {
	color:$darkBlue;
	text-decoration:none;
	transition: all 0.1s linear;
}
a:hover, a:active {
	border-bottom:2px solid $lightBlue;
	color:$lightBlue;
}
nav {
	text-align: center;
	a {
		margin-left:1em;
	}
	a:first-child {
		margin-left:0;
	}
	@include break (full) {
		font-size:1.1em;
		line-height:1.7em;
	}
}
a.current {
	border-bottom:2px solid $lightBlue;
}
section {
	@include group();
}
h1:first-child {
//	float: left;
}
ul {
	list-style-type:none;
	margin:1em;
	padding:0;
}
/* Page Specific Selectors ****************************************/
body.welcome {
	section {
//		background:url('../images/Napa.jpg') no-repeat center center;
		text-align: center;
		@extend .textShadow;
		h1:first-child {
			margin-bottom: 2em;
		}
		h1:nth-child(2n) {
			margin:2em 0 0;
		}
		p {
			font-size: 1.3em;
			margin-bottom:4em;
		}
	}
	h1:first-child {
		float:none;
	}
}
/* Schedule */
.dayTitle {
	font-size:2em;
	text-align:center;
}
.event {
	margin-bottom:1em;
	@include group();
}
.evTitle {
}
.evMeta {
	// border-top:0.5em solid lighten($lightBlue, 10%);
	// border-right:0.5em solid $lightBlue;
	// border-bottom:0.5em solid $lightBlue;
	// border-left:0.5em solid lighten($lightBlue, 10%);
	float:left;
	text-align:center;
	width:33%;
	@include break(mobile) {
		float:none;
		width:100%;
	}
}
.evTitle {
	font-size:1.5em;
}
/* Directions */
iframe {
	float:right;
}