.serif, body {
  font-family: 'Gentium Basic', serif; }

.script, h1, h2 {
  font-family: 'Tangerine', cursive; }

.boxShadow, .wrap {
  -webkit-box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);
  box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2); }

.textShadow, body.welcome section {
  text-shadow: 1px 1px 5px #fffefa; }

/* General Site Wide Selectors ****************************************/
body {
  background-color: #fffefa;
  color: #0f2231;
  font-size: 16px;
  padding: 1em; }
  @media only screen and (max-width: 600px) {
    body {
      padding: 0; } }

.wrap {
  border: 1px solid #0f2231;
  margin: 0 auto;
  max-width: 730px;
  padding: 1em; }
  @media only screen and (max-width: 850px) {
    .wrap {
      width: 550px; } }
  @media only screen and (max-width: 600px) {
    .wrap {
      width: 316px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 3em; }

a:link, a:visited {
  color: #0f2231;
  text-decoration: none;
  transition: all 0.1s linear; }

a:hover, a:active {
  border-bottom: 2px solid #3588ff;
  color: #3588ff; }

nav {
  text-align: center; }
  nav a {
    margin-left: 1em; }
  nav a:first-child {
    margin-left: 0; }
  @media only screen and (max-width: 850px) {
    nav {
      font-size: 1.1em;
      line-height: 1.7em; } }

a.current {
  border-bottom: 2px solid #3588ff; }

section:after {
  content: "";
  display: table;
  clear: both; }

h1:first-child {
  float: left; }

ul {
  float: left;
  list-style-type: none;
  margin: 1em;
  padding: 0; }

/* Page Specific Selectors ****************************************/
body.welcome section {
  text-align: center; }
  body.welcome section h1:first-child {
    margin-bottom: 2em; }
  body.welcome section h1:nth-child(2n) {
    margin: 2em 0 0; }
  body.welcome section p {
    font-size: 1.3em;
    margin-bottom: 4em; }
body.welcome h1:first-child {
  float: none; }

/* Directions */
iframe {
  float: right; }
