.serif, body {
  font-family: 'Gentium Basic', serif; }

.script, h1, h2 {
  font-family: 'Tangerine', cursive; }

.boxShadow {
  -webkit-box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);
  box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2); }

.textShadow, .welcome section {
  text-shadow: 1px 1px 5px #fffefa; }

.mediaObj:after {
  content: "";
  display: table;
  clear: both; }
@media only screen and (max-width: 600px) {
  .mediaObj {
    border-top: 0.2em solid #104acd;
    padding-top: 1em; } }

.media {
  display: block;
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 600px) {
    .media {
      float: none;
      margin: 0 auto; } }

* {
  box-sizing: border-box; }

img {
  padding: 0 !important; }

body {
  background-color: #fffefa;
  color: #0f2231;
  font-size: 16px;
  padding: 1em; }
  @media only screen and (max-width: 600px) {
    body {
      padding: 0; } }

.wrap {
  margin: 0 auto;
  max-width: 730px;
  padding: 1em; }
  @media only screen and (max-width: 850px) {
    .wrap {
      width: 550px; } }
  @media only screen and (max-width: 600px) {
    .wrap {
      width: 316px; } }

h1 {
  font-size: 3em;
  text-align: center; }

h2 {
  font-size: 2.2em; }

a:link, a:visited {
  color: #104acd;
  text-decoration: underline;
  transition: all 0.1s linear; }

a:hover, a:active {
  color: #3588ff; }

nav {
  text-align: center; }
  nav a:link, nav a:visited {
    color: #0f2231;
    margin-left: 1em;
    text-decoration: none; }
  nav a:hover, nav a:active {
    color: #3588ff;
    text-decoration: underline; }
  nav a:first-child {
    margin-left: 0; }
  nav .current:link, nav .current:visited {
    color: #3588ff; }
  @media only screen and (max-width: 850px) {
    nav {
      font-size: 1.1em;
      line-height: 1.7em; } }

section:after {
  content: "";
  display: table;
  clear: both; }

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0; }

/*body*/
.welcome section {
  text-align: center; }
  .welcome section img {
    display: block;
    margin: 1em auto;
    width: 530px; }
  .welcome section h1, .welcome section h2 {
    display: inline; }
  .welcome section h1 {
    font-size: 2.8em;
    margin: 0; }
  .welcome section p {
    font-size: 1.6em; }

.dayTitle {
  font-size: 2em;
  text-align: center; }

.event {
  margin-bottom: 1em; }
  .event:after {
    content: "";
    display: table;
    clear: both; }

.evMeta {
  float: left;
  text-align: center;
  width: 33%; }
  @media only screen and (max-width: 600px) {
    .evMeta {
      float: none;
      width: 100%; } }

.evTitle {
  font-size: 1.5em; }

iframe {
  float: right; }
