.serif, body {
  font-family: 'Gentium Basic', serif; }

.script, h1, h2 {
  font-family: 'Tangerine', cursive;
  font-weight: 700; }

.boxShadow {
  -webkit-box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);
  box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2); }

.textShadow, .welcome section {
  text-shadow: 1px 1px 5px #fffefa; }

.imgShadow, section img {
  -webkit-box-shadow: 2px 2px 10px #1a1a1a;
  box-shadow: 2px 2px 10px #1a1a1a; }

.mediaObj {
  margin: 1em 0; }
  .mediaObj:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 700px) {
    .mediaObj {
      border-top: 0.2em solid #104acd;
      padding-top: 1em; } }

.media {
  display: block;
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 700px) {
    .media {
      float: none;
      margin: 0 auto; } }

.mediaDescription {
  padding-top: 1em; }
  @media only screen and (max-width: 700px) {
    .mediaDescription {
      padding: 0; } }

.button {
  background-image: -webkit-linear-gradient(-5deg, #0c399e, #3588ff);
  background-image: -moz-linear-gradient(-5deg, #0c399e, #3588ff);
  background-image: linear-gradient(-5deg, #0c399e, #3588ff);
  border-top: 2px solid #68a6ff;
  border-right: 2px solid #104acd;
  border-bottom: 2px solid #104acd;
  border-left: 2px solid #68a6ff;
  border-radius: 2em;
  color: #fffefa;
  display: inline;
  margin: 1em;
  padding: 0.4em 0.6em;
  transition: border 0.3s ease; }

.button:hover {
  background-image: -webkit-linear-gradient(-5deg, #3588ff, #0c399e);
  background-image: -moz-linear-gradient(-5deg, #3588ff, #0c399e);
  background-image: linear-gradient(-5deg, #3588ff, #0c399e);
  border-top: 2px solid #104acd;
  border-right: 2px solid #68a6ff;
  border-bottom: 2px solid #68a6ff;
  border-left: 2px solid #104acd;
  color: #fffefa;
  cursor: pointer; }

.button:link, .button:visited {
  color: #fffefa; }

.button:hover, .button:active {
  text-decoration: none; }

.noClick, .noClick:hover {
  border-color: #afafaf;
  background-color: #afafaf;
  background-image: -webkit-linear-gradient(-5deg, #afafaf, #afafaf);
  background-image: -moz-linear-gradient(-5deg, #afafaf, #afafaf);
  background-image: linear-gradient(-5deg, #afafaf, #afafaf);
  cursor: text; }

.bold {
  font-weight: 700; }

.underline {
  text-decoration: underline; }

* {
  box-sizing: border-box; }

img {
  height: auto;
  max-width: 100%;
  padding: 0 !important; }

body {
  background-color: #fffefa;
  color: #0f2231;
  font-size: 16px;
  padding: 1em; }
  @media only screen and (max-width: 700px) {
    body {
      padding: 0; } }

.wrap {
  margin: 0 auto;
  max-width: 730px;
  padding: 1em; }
  @media only screen and (max-width: 920px) {
    .wrap {
      width: 550px; } }
  @media only screen and (max-width: 700px) {
    .wrap {
      width: 316px; } }

h1 {
  font-size: 3em;
  text-align: center; }

h2 {
  font-size: 2.2em; }

a:link, .detailsLink, a:visited, .detailsLink {
  color: #104acd;
  text-decoration: underline;
  transition: all 0.1s linear; }

a:hover, .detailsLink:hover, a:active, .detailsLink:hover {
  color: #3588ff; }

nav {
  border-bottom: 0.2em solid #0f2231;
  position: relative;
  text-align: center; }
  nav a:link, nav .detailsLink, nav a:visited, nav .detailsLink {
    color: #0f2231;
    margin-left: 1em;
    padding-bottom: 0.1em;
    text-decoration: none; }
  nav a:hover, nav .detailsLink:hover, nav a:active, nav .detailsLink:hover {
    color: #3588ff;
    border-bottom: 0.2em solid #3588ff; }
  nav a:first-child {
    margin-left: 0; }
  nav .current:link, nav .current:visited {
    color: #3588ff;
    border-bottom: 0.2em solid #3588ff;
    position: relative; }
    nav .current:link:after, nav .current:visited:after {
      background-color: #3588ff;
      bottom: -0.6em;
      border: 0.2em solid #3588ff;
      border-radius: 1em;
      content: "";
      height: 0.2em;
      left: 50%;
      margin-left: -0.1em;
      position: absolute;
      width: 0.2em; }
  nav .current:hover, nav .current:active {
    text-decoration: none; }
  @media only screen and (max-width: 920px) {
    nav {
      font-size: 1.1em;
      line-height: 1.7em; } }
  nav:after {
    bottom: -6.1em;
    content: url(../images/iron.png);
    position: absolute;
    right: -5.4em; }
    @media only screen and (max-width: 920px) {
      nav:after {
        bottom: -5.6em;
        right: -5em; } }
    @media only screen and (max-width: 700px) {
      nav:after {
        right: 0; } }
  nav:before {
    content: url(../images/iron.png);
    bottom: -6em;
    left: -5.4em;
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
    @media only screen and (max-width: 920px) {
      nav:before {
        bottom: -5.5em;
        left: -5em; } }
    @media only screen and (max-width: 700px) {
      nav:before {
        left: 0; } }

section:after {
  content: "";
  display: table;
  clear: both; }

footer {
  position: relative;
  text-align: center; }
  footer img {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  footer .attribution {
    bottom: 0;
    font-size: 0.7em;
    position: absolute;
    right: 0; }

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0; }

.tabHead:hover {
  cursor: pointer; }

/*body*/
.welcome section {
  margin-top: 2em;
  text-align: center; }
  .welcome section img {
    display: block;
    margin: 1em auto; }
  .welcome section h1, .welcome section h2 {
    display: inline; }
  .welcome section h1 {
    font-size: 2.8em;
    margin: 0; }
  .welcome section h2 {
    margin: 0 0.2em; }
  .welcome section p {
    font-size: 1.6em; }

.dayDesc {
  font-size: 1.4em;
  margin: 0; }

.dayTitle {
  font-size: 2.3em;
  margin-bottom: 0; }
  @media only screen and (max-width: 700px) {
    .dayTitle {
      margin-top: 0.2em; } }

.event {
  margin-bottom: 1em; }
  .event:after {
    content: "";
    display: table;
    clear: both; }

.evMeta {
  float: left;
  text-align: center;
  width: 33%; }
  @media only screen and (max-width: 700px) {
    .evMeta {
      float: none;
      width: 100%; } }

.evTitle {
  font-size: 1.5em; }

.evDesc {
  margin-left: 33%;
  padding: 1em 0 1em 1em; }
  @media only screen and (max-width: 700px) {
    .evDesc {
      margin-left: 0;
      padding-left: 0; } }

.schedule .tabHead {
  text-align: center; }
  .schedule .tabHead:after {
    content: "";
    display: table;
    clear: both; }
.schedule img {
  display: block;
  margin: 0 auto 1em; }
  @media only screen and (max-width: 700px) {
    .schedule img {
      margin: 0 auto;
      float: none; } }

.fridayIMG {
  float: right;
  vertical-align: middle; }

.saturdayImg {
  float: left; }

.mapWrap {
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 920px) {
    .mapWrap {
      margin-bottom: 1em;
      width: 100%; } }
  .mapWrap iframe {
    display: block;
    margin: 0 auto;
    width: 425px; }
    @media only screen and (max-width: 700px) {
      .mapWrap iframe {
        height: auto;
        width: 100%; } }
  .mapWrap small {
    display: block;
    padding: 0 6em 1em;
    width: 425px; }
    @media only screen and (max-width: 700px) {
      .mapWrap small {
        padding: 0;
        width: 100%; } }

.topImg {
  float: right;
  margin-left: 1em; }
  @media only screen and (max-width: 920px) {
    .topImg {
      display: block;
      float: none;
      margin: 0 auto; } }

.hotelPhone {
  display: block;
  margin-top: 0.5em; }

.weddingParty h1 {
  margin-bottom: 0; }
.weddingParty ul {
  text-align: center; }
  .weddingParty ul li:first-child {
    font-weight: 700; }
.weddingParty img {
  display: block;
  margin: 0 auto; }
.weddingParty .lastUL {
  margin-bottom: 2em; }

.mainParty {
  margin: 0 auto;
  width: 60%; }
  @media only screen and (max-width: 920px) {
    .mainParty {
      width: 80%; } }
  @media only screen and (max-width: 700px) {
    .mainParty {
      width: 100%; } }
  .mainParty:after {
    content: "";
    display: table;
    clear: both; }
  .mainParty ul {
    float: left;
    margin: 2em 0 0;
    width: 50%; }
    .mainParty ul:last-child {
      margin-bottom: 2em; }

.registryLink {
  margin: 1em 0; }

.cashWrap {
  display: none; }
